TG_SEARCH_API_ID=34825825
TG_SEARCH_API_HASH=60176f7ad0bcd77e63d4a64ca8d50a38
TG_SEARCH_PHONE=+79999999999
TG_SEARCH_SESSION=sessions/search.session

# Example for another account:
# TG_MAIN_API_ID=34825825
# TG_MAIN_API_HASH=60176f7ad0bcd77e63d4a64ca8d50a38
# TG_MAIN_PHONE=+79999999999
# TG_MAIN_SESSION=sessions/main.session
